@import "./app/components/qualifications-list.scss";

.wp-block {
    &-fnwq-qualifications {
        background: #253556;
        color: #FFF;
        font-size: 16px;
        padding: 20px;
    }
}
